### 그래프와 같이 이동한 거리 dx, dy 를 구할 수 있는 distance() 함수 작성

In [ ]:
def distance(start, end):
  # 코드 작성

start = (1, 1)
end = (5, 3)
dx, dy = distance(start, end)
print('dx:', dx, 'dy:', dy)

### a를 b로 나눈 몫과 나머지 구하기

In [ ]:
a = 123
b = 16

# 코드 작성

print('몫', quotient)
print('나머지', remain)

### 문자열 "3.14"를 정수와 실수로 변환하기

In [ ]:
s = "3.14"

# 코드 작성

### 문자열 "Python"을 리스트로 변환하기

In [ ]:
s = "Python"

# 코드 작성

### 리스트 ['사과', '바나나', '포도']를 번호와 함께 출력하기

In [ ]:
fruits = ['사과', '바나나', '포도']

# 코드 작성

### 주어진 데이터를 결과와 같은 형식의 데이터로 저장하기

In [ ]:
fish1_length = [
  25.4, 26.3, 26.5, 29.0, 29.0, 29.7, 29.7, 30.0, 30.0, 30.7,
  31.0, 31.0, 31.5, 32.0, 32.0, 32.0, 33.0, 33.0, 33.5, 33.5,
  34.0, 34.0, 34.5, 35.0, 35.0, 35.0, 35.0, 36.0, 36.0, 37.0,
  38.5, 38.5, 39.5, 41.0, 41.0
]
fish1_weight = [
  242.0, 290.0, 340.0, 363.0, 430.0, 450.0, 500.0, 390.0, 450.0,
  500.0, 475.0, 500.0, 500.0, 340.0, 600.0, 600.0, 700.0, 700.0,
  610.0, 650.0, 575.0, 685.0, 620.0, 680.0, 700.0, 725.0, 720.0,
  714.0, 850.0, 1000.0, 920.0, 955.0, 925.0, 975.0, 950.0
]
fish2_length = [
  9.8, 10.5, 10.6, 11.0, 11.2, 11.3, 11.8, 11.8, 12.0, 12.2,
  12.4, 13.0, 14.3, 15.0
]
fish2_weight = [
  6.7, 7.5, 7.0, 9.7, 9.8, 8.7, 10.0, 9.9, 9.8, 12.2,
  13.4, 12.2, 19.7, 19.9
]

# 코드 작성

### 색상표를 통해 확인된 숫자를 16진수로 표현

In [ ]:
red = 190
green = 66
blue = 205

# 코드 작성

print(r, g, b)

### 16진수 문자 코드값을 문자로 변환하기

In [ ]:
hexa_string = '48 45 4C 4C 4F'
# 코드 작성

### 리스트 ["1", "20", "3", "40"]를 정수로 변환한 뒤, 10 이상인 숫자만 출력

In [ ]:
nums = ["1", "20", "3", "40"]

# 코드 작성

### 리스트 [5, 10, 15, 20, 25]에서 3의 배수만 제곱해서 출력

In [ ]:
nums = [5, 10, 15, 20, 25]

# 코드 작성